<h1 class="mt-5">Add Product</h1>
<hr />

<form [formGroup]="myForm">
  <section class="row align-items-center mb-3">
    <div class="col-auto">
      <label for="name" class="col-form-label">Nombre</label>
    </div>

    <div class="col-auto">
      <input formControlName="name" type="text" class="form-control" />
    </div>

    <div class="col-auto">
      <span MsgErr color="tomato" *ngIf="notValid('name')" class="form-text"
        >Este campo es requerido</span
      >
    </div>

    <div class="row mt-3">
      <div class="col">
        <button class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </section>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Valid: {{ myForm.valid }}</pre>
<pre>Value: {{ myForm.value | json }}</pre>
